/*
 *
 *   Impact Icons
 *
*/
/*
-------------------------------------------------- */

.icon-excel {
  background: url("../../../lib/icons/icon-excel.png") no-repeat;
  display: block;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-bottom: 2px;
}
.icon-pdf {
  background: url("../../../lib/icons/icon-pdf.png") no-repeat;
  display: block;
  background-size: cover;
  height: 26px;
  width: 24px;
}
.icon-print {
  background: url("../../../lib/icons/icon-print.png") no-repeat;
  display: block;
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-top: 2px;
}

button.btn.btn-default.buttons-collection.buttons-page-length {
  background: url("../../../lib/icons/icon-list.png") no-repeat;
  display: block;
  height: 40px;
  width: 50px;
  background-size: cover;

  &:hover {
    background-color: #e6e5e5;
  }

  span {
    display: none;
  }
}